
@import "./assets/stylesheets/var.scss";
@import "./assets/stylesheets/reset.scss";

.wrapper{
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  .content{
    display: flex;
    flex-direction: row;
    height: 92vh;
    width:100vw
  }
}
